

/*---------small phones: 0 to 480 pixels-----*/
@media only screen and (max-width: 480px)
{
  .main_nav li{
    font-size: 14px !important;
    text-align: center;
    float:left;
    padding: 0;
  }
  h1 {
    font-size: 16px !important;
  }
  h2 {
    font-size: 14px !important;
  }
  h3 {
    font-size: 10px !important;
  }
  body {
    font-size: 14px !important;
  }
  .youtubevideoBox {
    margin: 2% 0;
    padding: 0 10%;
  }
  .footersection {
    margin: 30px 0px 0px 0px;
    background-color: #333;
    padding: 20px;
  }
  .footer_nav li {
  display: inline;
  }
  .social_links li {
    margin: 20px 0px 0px 0px;
    padding: 0 0 0 53px;
  }
  input[type=text],
  input[type=email],
  select,
  textarea {
    margin-left:0 !important;
  }
  .photo_showcase li {
    width: 100% !important;
    height: 100% !important;
    padding: 4% 14% !important;
    margin: 2% auto !important;
  }
  .section_form{
    width: 100%;
    padding: 5%;
    margin-top: 20% !important;
  }
  .welcometextheader{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    align-items: center !important;
    padding: 50px 0 0 0 !important;
  }
  canvas{
    width: 300px !important;
    height: 300px !important;
  }

}
/*---------medium phones(smaller ipad): 481 to 767 pixels-----*/
@media only screen and (max-width: 767px)
{
  .mobile_navy{
    display: inline !important;
  }
  .main_nav{
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    display: none;
  }
  .main_nav li{
    display: block;
  }
  .main_nav li a:link,
  .main_nav li a:visited 
  {
    display: block;
    border: 0;

  }
  h1 {
    font-size: 24px;
  }
  .youtubevideoBox{
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    padding: 0px 0px 0px 40px;
  }
  .youtubevideoBox ion-icon {
    margin: 0 auto;
  }

  input[type=text],
  input[type=email],
  select,
  textarea {
    margin-left: 7%;
  }
  .section_form{
    width: 100%;
    padding: 5%;
    margin-top: 20%;
  }
  .contactmeAsideSection{
    padding:60px 20px;
    width: 100%;
  }
  .contactmeAsideSection iframe{
    margin: 0 auto;
    padding: 4% 4%;
    width: 100%;
  }
  .colCard {
  
    width: 100%;
    height: auto;
  }
  .photo_showcase li {
    width: 100%;
    height: 100%;
    padding: 4% 25%;
    margin: 2% auto;
  }

}

/*---------ipads and other tablets: 768 to 1023 pixels-----*/
@media only screen and (max-width: 1023px)
{
  body{ font-size: 18px;}
  .youtube_vid iframe{
    width:100%;
    height: auto;
  }
  .youtubevideoBox h3{
    font-size: 12px;
    line-height: 150%;
    font-weight: bold;
  }
  .section_form{
    width: 100%;
    padding: 5%;
    margin-top: 10%;
  }
  .contactmeAsideSection{
    padding:60px 20px;
    width: 100%;
  }
  .contactmeAsideSection iframe{
    margin: 0 auto;
    padding: 4% 4%;
    width: 100%;
  }
  .colCard h3,
  .colCard p {
    font-size: 16px;
  }
  .photos img{
    width: 100%;
    height: 200px;
    float: left;
  }
  .welcometextheader{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0 0 0;
  }
  canvas{
    width: 400px;
    height: 400px;
  }
}

/*---------small computers(big tablets): 1024 to 1200 pixels-----*/
@media only screen and (max-width: 1200px)
{
  .welcome_text_header{
    width: 100%;
    padding: 0 2%;
    margin: 0 300px;
  }
  .row{
    padding: 0 2%;
  }
  .photos img{
    width: 100%;
    height: 200px;
    float: left;
  }
  .canvasItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10% 0 0 5%;
  }
}

/*---------regular computers(mac osx screen 13 iches): 1201 to 1400 pixels-----*/
@media only screen and (max-width: 1400px)
{
  .welcome_text_header{
    width: 100%;
    padding: 0 2%;
    margin: 0 300px;
  }
  .row{
    padding: 0 2%;
  }
  .canvasItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10% 0 0 5%;
  }
}
