/* -------------------------------------*/
/* CSS */
/*----
orange color - #f1c40f
center item - margin: 0 auto;
---*/
/* -------------------------------------*/

/* -----CSS needed for all elements----*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* -----CSS needed for all rows----*/
.row {
  max-width: 1143px;
  margin: 0 auto 0 auto;
}
/* -----CSS base for all elements----*/
html {
  background-color: #ffffff;
  color:#000000;
  font-family: 'Lato','Arial','sans-serif';
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* -------------------------------------*/
/* Reuseable css*/
/* -------------------------------------*/

/* -----CSS needed for all section tags----*/
section{
  padding: 100px 0px;
}
/* -----CSS needed for all h1,h2 tags----*/
h1,h2,h3{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}
h1{
  margin: 0;
  font-size: 180%;
  color: #ffffff;
  word-spacing: 5px;
}
h2{
  font-size: 160%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
}
h2:after{
  display: block;
  height: 2px;
  background-color: #f1c40f;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}
h3{
  display: block;
  font-size: 100%;
  margin-bottom: 15px;
}
/*-------buttons-----------*/
.btn:link, 
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px 10px 30px;
  margin: 10px 30px 10px 0px;
  text-decoration: none;
  color:#ffffff;
  background-color: #f39c12;
  border-radius: 50%;
  border: 1px solid #000000;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active
 {
  background-color:#f1c40f;
}
.clearfix:after{
  content:"";
  display: table;
  clear: both;
}
/* -------------------------------------*/
/*--------Heading(intro) tag css---------*/
/* -------------------------------------*/
.header {
  background-image: url('../images/headerImg.JPG');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.welcometextheader{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0 0 0;
}
/*--------------logo---------------*/
.logo{
  height: 50px;
  width: auto;
  float: left;
  margin-top: 5px;
  padding: 5px 0;
}
/*--------------main nav tag css---------------*/
.main_nav {
  float: right;
  list-style: none;
  margin-top: 20px;
}
.main_nav_youtube li a {
  color: #000000 !important;
}
.main_nav li{
  display: inline;
  margin: 5px 10px;
  padding: 10px 20px;
}
.main_nav li a:link,
.main_nav li a:visited {
  padding: 0px 0px 5px 0px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 95%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.main_nav li a:hover,
.main_nav li a:active {
  border-bottom: 2px solid #f1c40f;
}
/*--------------sticky nav tag css---------------*/
.stickynav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px gainsboro;
  z-index: 9999;
}
.sticyknav .main_nav li a:link,
.sticyknav .main_nav li a:visited {
  padding: 0px 0px 5px 0px;
  color: black;
}
/*--------------mobile nav tag css---------------*/
.mobile_navy {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}
.mobile_navy ion-icon{
  font-size: 200%;
  margin-right: 100px;
  color: black;
}

/* -------------------------------------*/
/*--------youtube section---------*/
/* -------------------------------------*/

/*--------------paragrahs css for youtube---------------*/

.youtube_intro{
  line-height: 150%;
  width: 75%;
  margin-left: 15%;
  padding-bottom: 20px;
}
/*--------------------icons---------------------*/
ion-icon{
  font-size: 300%;
  color: #f1c40f;
  display: block;
  padding-bottom: 20px;
}

/*--------------youtube videos css---------------*/
.youtubevideoBox{
  padding: 1%;
}
.youtubevideoBox p{
  margin-top: 10px;
  font-size: 90%;
  line-height: 140%;
}
.youtubevideoBox p a:link,
.youtubevideoBox p a:visited
{
  text-decoration: none;
  text-transform: uppercase;
}
.youtubevideoBox p a:hover,
.youtubevideoBox p a:active
{
  border-bottom: 2px solid #f1c40f;
}
/* -------------------------------------*/
/*--------Photo section---------*/
/* -------------------------------------*/
.photo_showcase {
  list-style: none;
  width: 100%;
}
.photo_showcase li {
  width: 300px;
  height: 200px;
  float: left;
  margin-left: 30px;
}
.photos{
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.photos img{
  width: 100%;
  height: 200px;
  padding: 4% 4%;
  color: #000000;
  transform: scale(1.00);
  transition: 0.5s, opacity 0.5s;
  opacity: 1.0;
}
.photos img:hover{
  opacity: 0.5;
  transform: scale(2.0);

}
/* -------------------------------------*/
/*--------About me css---------*/
/* -------------------------------------*/
.aboutmesection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 5%;
}
.aboutmesection__Section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.aboutmesection__buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2% 20%;
}

.aboutmesection__Section__text{
  padding: 2% 10%;
  line-height: 200%;
  text-align: center;
}
.aboutmesection__footersection {
  align-self: stretch;
  margin-top: 8%;
  background-color: #333;
  padding: 20px;
}
.aboutmesection__Aside__Canvas{
  padding: 5% 5% 0 0;
}
/* -------------------------------------*/
/*--------Contact form css---------*/
/* -------------------------------------*/
.section_form{
  width: 60%;
  float: left;
  padding: 5%;
  margin: 40px auto;
}
.contactmeAsideSection{
  padding:60px 20px;
  float: right;
  width: 40%;
  margin: 45px auto;
}
.contactmeAsideSection p{
  border: 1px solid black;
  padding: 4% 8%;
}
.contactmeAsideSection iframe{
  margin: 0 auto;
  padding: 4% 4%;
  margin: 0 15%;
}
input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  border-radius: 3px;
}
textarea{
  height: 100px;
}
*:focus{
  outline: none;
}
.eachcontactformrow {
  margin:20px auto;
}
/* -------------------------------------*/
/*--------Projects css---------*/
/* -------------------------------------*/
#projectintro{
  padding: 4% 15%;
  text-align: center;
}
.colCard a:link,
.colCard a:visited
{
  text-decoration: none;
  text-transform: uppercase;
}
.colCard a:hover,
.colCard a:active{
  border-bottom: 2px solid #f1c40f;
}
.card{
  border: 1px solid black;
}
.colCard p{
  padding: 4% 0;
}
.card figure img {
  width: 100%;
  height: 200px;

}
/* -------------------------------------*/
/*--------Footer css---------*/
/* -------------------------------------*/
.footersection {
  margin: 50px 0px 0px 0px;
  background-color: #333;
  padding: 20px;
}
.footersection p {
  color: #888;
  text-align: center;
  margin:10px 10px;
  font-size: 70%;

}
.social_links{
  list-style: none;
  float: right;
}
.footer_nav {
  list-style: none;
  float: left;
}
.footer_nav li,
.social_links li {
  display: inline-block;
  margin-right: 20px;
}

.footer_nav li:last-child,
.social_links li:last-child {
  margin-right: 0;
}

.footer_nav li a:link,
.footer_nav li a:visited,
.social_links li a:link,
.social_links li a:visited {
  text-decoration: none;
  color: #888;
  border: 0;
  transition: color 0.5s;
}
.social_links li a:link,
.social_links li a:visited {
  font-size: 50%;
}
.facebook,
.youtube,
.linkedin,
.whizping{
  transition: color 0.5s;
}
.facebook:hover{
  color: #3b5998;
}
.youtube:hover{
  color: #bb0000;
}
.linkedin:hover{
  color: #007bb6;
}
.whizping:hover{
  color: #00aced;
}
.footer_nav li a:hover,
.footer_nav li a:active {
  color: #ddd;
}

/* -------------------------------------*/
/*--------warning message css---------*/
/* -------------------------------------*/
.success{
  color: green;
  font-size: 30px;
  border: 2px solid black;
}
.failed{
  color: red;
  font-size: 30px;
  border: 2px solid black;
}
/* -------------------------------------*/
/*--------canvas css---------*/
/* -------------------------------------*/
canvas {
  border: solid 2px #000;
  margin-bottom: 3%;
  background-color: #333;
  opacity: 0.5;
  flex: 0 1 auto;
}