<header>
  <nav class="stickynav">
    <div class="row">
      <a href="/"><img src="/images/logo.png" class="logo" alt="logo"></a>
      <ul class="main_nav main_nav_youtube">
        <li><a href="/aboutme">About Me</a></li>
        <li><a href="/contactme">Contact</a></li>
        <li><a href="/photos">Photos</a></li>
      </ul>
      <a class="mobile_navy js-nav-icon"><ion-icon name="menu"></ion-icon></a>
    </div>
  </nav>
</header>
<section class="about_section">
  <h2>Kunle Babatunde</h2>
  <div class="row">
    <article>
      <p id="aboutMe_text">
        Hi and welcome to my portfolio page. I really appreciate your visit to my page.
        <br />FYI - this page is currently under construction. 
        I am deleting and adding new content.
        <br />
        I will tell you more about myself in due time. Nonetheless, if I can sum it up in one word,
        then it would be driven. The drive to not only suceed but to be the best in the field,
        and be able to teach others is engine. You can download my resume by clicking below.
      </p>
    </article>
  </div>
  <div class="aboutmebuttons">
    <a href="https://s3.us-east-2.amazonaws.com/mybioportfolio/babatundeResume.pdf" class="btn">Resume</a>
    <a href="/projects" class="btn">Projects</a>
  </div>
</section>
<div class="clearfix"></div>
  <footer class="footersection">
    <div class="row">
      <div class="col span-1-of-2">
        <ul class="footer_nav">
          <li><a href="./aboutme.html">About</a></li>
          <li><a href="./photos.html">Photo</a></li>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./resume.html">Resume</a></li>
        </ul>
      </div>
      <div class="col span-1-of-2">
        <ul class="social_links">
          <li><a href="https://www.facebook.com/kunle.babatunde1"><ion-icon class="facebook" name="logo-facebook"></ion-icon></a></li>
          <li><a href="https://www.youtube.com/c/babacademy"><ion-icon class="youtube" name="logo-youtube"></ion-icon></a></li>
          <li><a href="https://github.com/kb2232"><ion-icon class="whizping" name="logo-github"></ion-icon></a></li>
          <li><a href="https://www.linkedin.com/in/kb2232cpp/"><ion-icon class="linkedin" name="logo-linkedin"></ion-icon></a></li>
        </ul>
      </div>
    </div>
  <div class="row">
    <p>
      Copyright &copy; 2019 by Kunle Babatunde. All rights reserved.
    </p>
  </div>
</footer>