<header class="header">
  <nav class="stickynav">
    <div class="row">
      <a href="/"><img src="/images/logo.png" class="logo" alt="logo"></a>
      <ul class="main_nav">
        <li><a href="/aboutme">About Me</a></li>
        <li><a href="/contactme">Contact</a></li>
        <li><a href="/photos">Photos</a></li>
      </ul>
      <a class="mobile_navy js-nav-icon">
        <ion-icon name="menu"></ion-icon>
      </a>
    </div>
  </nav>
  <div class="welcometextheader">
      <canvas id="stage-canvas" width="500" height="300">
        This web browser does not support canvas.
      </canvas>
    <a href="/youtube" class="btn">Youtube</a>
    <a href="https://s3.us-east-2.amazonaws.com/mybioportfolio/babatundeResume.pdf" class="btn">Resume</a>
    <a href="/projects" class="btn">Projects</a>
  </div>
</header>