<header>
  <nav class="stickynav">
    <div class="row">
      <a href="/"><img src="/images/logo.png" class="logo" alt="logo"></a>
      <ul class="main_nav main_nav_youtube">
        <li><a href="/aboutme">About Me</a></li>
        <li><a href="/contactme">Contact</a></li>
        <li><a href="/photos">Photos</a></li>
      </ul>
    </div>
  </nav>
</header>
<section class="photos_section">
    <h2>Random photos - enjoy!!!</h2>
    <article>
      <ul class="photo_showcase">
          <li>
            <figure class="photos">
              <img src="/images/img4.jpg" alt="img1" />
            </figure>
          </li>
          <li>
            <figure class="photos">
              <img src="/images/logo.png" alt="img2" />
            </figure>
          </li>
          <li>
            <figure class="photos">
              <img src="/images/headerImg.JPG" alt="img4" />
            </figure>
          </li>
        </ul>
    </article>
    <article>
      <ul class="photo_showcase">
        <li>
          <figure class="photos">
            <img src="/images/img5.jpg" alt="img1" />
          </figure>
        </li>
        <li>
          <figure class="photos">
            <img src="/images/img6.jpg" alt="img6" />
          </figure>
        </li>
        <li>
          <figure class="photos">
            <img src="/images/img1.jpg" alt="img1" />
          </figure>
        </li>
      </ul>
    </article>
    <article>
      <ul class="photo_showcase">
        <li>
          <figure class="photos">
            <img src="/images/img2.jpg" alt="img2" />
          </figure>
        </li>
        <li>
          <figure class="photos">
            <img src="/images/img3.jpg" alt="img3" />
          </figure>
        </li>
      </ul>
    </article>
  </section>