<header>
    <nav>
      <div class="row">
        <a href="/"><img src="/images/logo.png" class="logo" alt="logo"></a>
        <ul class="main_nav main_nav_youtube">
          <li><a href="/aboutme">About Me</a></li>
          <li><a href="/contactme">Contact</a></li>
          <li><a href="/photos">Photos</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section class="projects">
    <h2>SELECTED PROJECTS</h2>
    <p id="projectintro">Check the github link below to view all projects. Some repositories are private,
      so go to the contact page to let me know you need request
    </p>
    <div class="row">
      <div class="col span-1-of-3 colCard">
        <h3>WhizPing</h3>
        <div class="card">
          <figure>
            <img src="/images/whizping.png" alt="whizping" />
          </figure>
        </div>
        <p>LINK:<a href="https://www.whizping.com"> whizping</a></p>
      </div>
      <div class="col span-1-of-3 colCard">
        <h3>Broomestreet Journal</h3>
        <div class="card">
          <figure>
            <img src="/images/broomestreet.png" alt="bsj" />
          </figure>
        </div>
        <p>LINK:<a href="http://www.broomestreetjournal.com"> broomestreet-journal</a></p>
      </div>
      <div class="col span-1-of-3 colCard">
        <h3>Foogle</h3>
        <div class="card">
          <figure>
              <img src="/images/foogle.png" alt="foogle" />
          </figure>
        </div>
        <p>LINK:<a href="https://kb2232.github.io/ynah/"> foogle</a></p>
      </div>
    </div>
  </section>