<header>
    <nav class="stickynav">
      <div class="row">
        <a href="/"><img src="/images/logo.png" class="logo" alt="logo"></a>
        <ul class="main_nav main_nav_youtube">
          <li><a href="/aboutme">About Me</a></li>
          <li><a href="/contactme">Contact</a></li>
          <li><a href="/photos">Photos</a></li>
        </ul>
        <a class="mobile_navy js-nav-icon"><ion-icon name="menu"></ion-icon></a>
      </div>
    </nav>
  </header>
  <section class="projects">
    <h2>SELECTED PROJECTS</h2>
    <p id="projectintro">Check the github link below to view all projects. Some repositories are private,
      so go to the contact page to let me know you need request
    </p>
    <div class="row">
      <div class="col span-1-of-3 colCard">
        <h3>WhizPing</h3>
        <div class="card">
          <figure>
            <img src="/images/whizping.png" alt="whizping" />
          </figure>
        </div>
        <p>LINK:<a href="https://www.whizping.com"> whizping</a></p>
      </div>
      <div class="col span-1-of-3 colCard">
        <h3>Broomestreet Journal</h3>
        <div class="card">
          <figure>
            <img src="/images/broomestreet.png" alt="bsj" />
          </figure>
        </div>
        <p>LINK:<a href="http://www.broomestreetjournal.com"> broomestreet-journal</a></p>
      </div>
      <div class="col span-1-of-3 colCard">
        <h3>Foogle</h3>
        <div class="card">
          <figure>
              <img src="/images/foogle.png" alt="foogle" />
          </figure>
        </div>
        <p>LINK:<a href="https://kb2232.github.io/ynah/"> foogle</a></p>
      </div>
    </div>
  </section>
<div class="clearfix"></div>
  <footer class="footersection">
    <div class="row">
      <div class="col span-1-of-2">
        <ul class="footer_nav">
          <li><a href="./aboutme.html">About</a></li>
          <li><a href="./photos.html">Photo</a></li>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./resume.html">Resume</a></li>
        </ul>
      </div>
      <div class="col span-1-of-2">
        <ul class="social_links">
          <li><a href="https://www.facebook.com/kunle.babatunde1"><ion-icon class="facebook" name="logo-facebook"></ion-icon></a></li>
          <li><a href="https://www.youtube.com/c/babacademy"><ion-icon class="youtube" name="logo-youtube"></ion-icon></a></li>
          <li><a href="https://github.com/kb2232"><ion-icon class="whizping" name="logo-github"></ion-icon></a></li>
          <li><a href="https://www.linkedin.com/in/kb2232cpp/"><ion-icon class="linkedin" name="logo-linkedin"></ion-icon></a></li>
        </ul>
      </div>
    </div>
  <div class="row">
    <p>
      Copyright &copy; 2019 by Kunle Babatunde. All rights reserved.
    </p>
  </div>
</footer>